<h1>各バトルパートのページへ！</h1>

<%= link_to 'best-16', best16s_new_path, class: "subtitle" %>
<%= link_to 'best-8', best8s_new_path, class: "subtitle" %>
<%= link_to 'Semi-Fainls', best4s_new_path, class: "subtitle" %>
<%= link_to 'Final', root_path, class: "subtitle" %>