// Place all the styles related to the best16s controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.best16-show {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: gray;
  font-size: 20px;
  color: orange;
  padding-bottom: 10px;
}
p{
  color: rgb(110, 8, 8);
}
.battle-score span{
  
  background-color: black;
  color: white;
  padding: 3px;
  

}

.best16-judge{
  text-align: center;
}
li {
  list-style: none;
  
}
.score-grading{
  font-size: 20px;
}
.score{
  width: 3%;
  height: 2%;
  font-size: 30px;
}
.select-box{
  margin: 10px;
  font-size: 20px;
}
.integration{
  width: 10%;
  height: 5%;
}

@media screen and  (max-width:768px) { 
  
  .best16-show {
    flex-direction: row;
    text-align: center;
    height: 100%;
    width: 100%;
    padding-bottom: 4px;
    background-color: gray;
    color: orange;
  }
  .error-message {
    font-size: 5px;
  }
  p{
    color: rgb(110, 8, 8);
  }
  .battle-score span{
    background-color: black;
    color: white;
    padding: 3px;
    font-size: 8px;
  }
  
  .best16-judge{
    text-align: center;
    font-size: 30px;
  }
  li {
    list-style: none;
    
  }
  .score-grading{
    font-size: 20px;
  }
  .score{
    width: 10%;
    height: 2%;
    font-size: 30px;
  }
  .select-box{
    margin: 10px;
    font-size: 20px;
  }
  .integration{
    width: 20%;
    height: 5%;
  }
  
  //ここにCSSコードを書く。
 }
   
 /* 600px〜959px：タブレット
 ------------------------------ */
 @media screen and (min-width:600px) and (max-width:959px) {
  
  
  //ここにCSSコードを書く。
 }