// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media (min-width:1080) {
  .growth-app {
    text-align: center;
    width: 100%;
    font-size: 50px;
    .growth-app a{
      font-size: 30px;
    }
  }
}
/* 768px：スマホ
 ------------------------------ */
@media screen and (max-width:750px) {
  .growth-app {

    font-size: 30px;
  } 
  //ここにCSSコードを書く。
 }
   
 /* 1024px：タブレット
 ------------------------------ */
 @media screen and (max-width:1024px) {
  .growth-app {
    text-align: center;
    width: 100%;
    font-size: 40px;
    h1 {
      font-size: 40px;
      padding-bottom: 20px;
    }
  }
  //ここにCSSコードを書く。
 }