// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.growth-app {
  text-align: center;
}
@media screen and (min-width:480px) and (max-width:599px) { 
  .growth-app {
    text-align: center;
    font-size: 80px;
  }
  //ここにCSSコードを書く。
 }
   
 /* 600px〜959px：タブレット
 ------------------------------ */
 @media screen and (min-width:600px) and (max-width:959px) {
  //ここにCSSコードを書く。
 }